.panda-bg-info{
    background-color:#fceae8;
}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
background-color: rgb(240, 240, 240);
background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 8px;
border-bottom-right-radius:8px;
border-bottom-style: none;
}